os: linux
language: node.js
notifications:
  email: false
node_js:
  - 12
  - 11
services:
  - docker
before_install:
  - docker-compose up -d
jobs:
  include:
    - stage: test
      script: yarn run-migrations && yarn test
    - stage: coverage
      script: yarn run-migrations && yarn coverage && bash <(curl -s https://codecov.io/bash)
